@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: hsl(27, 66%, 92%);
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}

/* Balance Component */
.balance {
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
}
.balance-row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  text-align: left;
}
.balance-row p {
  color: #fff;
  font-weight: 400;
}
.balance-row h2 {
  color: #fff;
  font-weight: 700;
}