@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: hsl(27, 66%, 92%);
  height: 100vh;
  position: relative;
  font-family: "DM Sans", sans-serif;
  background-image: url("/public/images/Animation-Background.svg");
  background-size: contain;
}
.container {
  width: 90%;
  max-width: 550px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Balance Component */
.balance {
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  margin-bottom: 1.5em;
}
.balance-row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.32em 0;
  text-align: left;
}
.balance-row p {
  color: #fff;
  font-weight: 400;
}
.balance-row h2 {
  color: #fff;
  font-weight: 700;
}

/* Chart Component */
.chart {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5em 0;
}
.chart-container {
  width: 90%;
  margin: auto;
}
.chart-container h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 2em;
  color: hsl(25, 47%, 15%);
}

.chart-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.chart-row p {
  font-weight: 400;
  color: hsl(28, 10%, 53%);
  padding: 1em 0 2em 0;
  font-size: 12px;
}
.chart-row .monday {
  background-color: hsl(10, 79%, 65%);
  height: 50px;
  width: 30px;
  border-radius: 2px;
  padding-bottom: 0.5em;
}
.chart-row .tuesday {
  background-color: hsl(10, 79%, 65%);
  height: 100px;
  width: 30px;
  border-radius: 2px;
}
.chart-row .wednsday {
  background-color: hsl(186, 34%, 60%);
  height: 150px;
  width: 30px;
  border-radius: 2px;
}
.chart-row .thursday {
  background-color: hsl(10, 79%, 65%);
  height: 85px;
  width: 30px;
  border-radius: 2px;
}
.chart-row .friday {
  background-color: hsl(10, 79%, 65%);
  height: 60px;
  width: 30px;
  border-radius: 2px;
}
.chart-row .saturday {
  background-color: hsl(10, 79%, 65%);
  height: 130px;
  width: 30px;
  border-radius: 2px;
}
.chart-row .sunday {
  background-color: hsl(10, 79%, 65%);
  height: 70px;
  width: 30px;
  border-radius: 2px;
}
.chart-container .hr {
  border: 1px solid rgb(254, 247, 239);
}
.chart-container .total-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 1.5em 0;
}
.chart-container .total-row p {
  color: hsl(28, 10%, 53%);
}
.chart-container .total-row h1 {
  padding-bottom: 0;
  font-weight: 700;
}
.chart-container .total-row h4 {
  text-align: right;
  font-weight: 700;
}

@media (min-width: 768px) {
  .App {
    background-image: url("/public/images/Animation-Background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* Balance Component */
  .balance {
    border-radius: 20px;
    transition: all .3s ease;
    background-size: 200% 100%;
    
  }
  .balance:hover {  
    background-position: 100% 0;
    transition: all .3s ease;
    background-image: linear-gradient(to right, #0b9ea3, #3cbaba, #30c9dd, #2b9ab6);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 161, 0.75);
  }
  .balance-row {
    width: 90%;
    padding: 1.8em 0;
  }
  .balance-row h2 {
    font-size: 2rem;
  }

  /* Chart Component */
  .chart {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5em 0;
  }
  .chart-container h1 {
    font-size: 2rem;
  }
  .chart-row p {
    font-size: 14px;
  }
  .chart-row .monday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .tuesday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .wednsday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .thursday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .friday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .saturday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-row .sunday {
    width: 52px;
    border-radius: 5px;
  }
  .chart-container .hr {
    border: 1px solid rgb(254, 247, 239);
  }
  .chart-container .total-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.5em 0;
  }
  .chart-container .total-row p {
    font-weight: 700;
    text-align: left;
    color: hsl(28, 10%, 53%);
  }
  .chart-container .total-row h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .chart-container .total-row h4 {
    text-align: right;
    font-weight: 700;
  }
}
